<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
<br><br>
    <!-- 프로필 사진 -->
    <h2>프로필 사진</h2>
    <form action="/file/profileupload2" method="post" enctype="multipart/form-data">
      <input type="file" name="profile">
      <input type="text" name="id" value="443a7abb22948157a97013dfa6a912d9">
      <input type="submit" value="파일 업로드하기">
  </form>
  <br>
  <br>
  <!-- 프로필 배경 사진-->
  <h2>프로필 배경사진</h2>
  <form action="/file/profilebgupload" method="post" enctype="multipart/form-data">
    <input type="file" name="profilebg">
    <input type="text" name="id" value="">
    <input type="submit" value="파일 업로드하기">
</form>
<br>
<br>


  <br>
  <br>
  <h1>다중</h1>
    <form enctype="multipart/form-data" method="post" action="/file/upload_receiver2">
      <input type="file" name="certification" multiple="multiple">
      <input type="submit">
  </form>
  <br>
  <br>
  <h1>다중3</h1>
    <form enctype="multipart/form-data" method="post" action="/file/upload_receiver3">
      <input type="file" name="userfile" multiple="multiple">
      <input type="submit">
  </form>
  <br>
  <br>
  <h1>한개</h1>
    <form enctype="multipart/form-data" method="post" action="/file/upload_receiver">
      <input type="file" name="userfile">
      <input type="submit">
  </form>
  <br>
  <br>
  <form action="/users/login3" method="post">
    <input type="text" name="email" value=""><br>
    <input type="password" name="pw" value="1234"><br>
    <input type="submit" value="로그인하기">
  </form>
    <br>
    <br>

    <!-- 프로필 사진 -->
    <h2>프로필 사진</h2>
    <form action="/file/profileupload" method="post" enctype="multipart/form-data">
      <input type="file" name="profile">
      <input type="text" name="id" value="">
      <input type="submit" value="파일 업로드하기">
  </form>

  <br>
  <br>
  <!-- 프로필 배경 사진-->
  <h2>프로필 배경사진</h2>
  <form action="/file/profilebgupload" method="post" enctype="multipart/form-data">
    <input type="file" name="profilebg">
    <input type="text" name="id" value="">
    <input type="submit" value="파일 업로드하기">
</form>
<br>
<br>



 <!-- 답변자 인증 사진-->
 <h2>답변자 인증 사진  multiple</h2>
 <form action="/file/certificationupload" method="post" enctype="multipart/form-data">
  <input type="file" name="certification" multiple="multiple">
  <input type="text" name="id" value="41d0f1c34873bb2eb1b1990403eb27c8">
  <input type="submit" value="파일 업로드하기">
</form>



<h1>test</h1>
<form action="/file/uploadtest" method="post" enctype="multipart/form-data">
  <input type="file" name="test">
  <input type="text" name="id" value="41d0f1c34873bb2eb1b1990403eb27c8">
  <input type="submit" value="파일 업로드하기">
</form>



<h1>test222</h1>
<form action="/file/uploadtest3" method="post" enctype="multipart/form-data">
  <input type="file" name="test" multiple="multiple">
  <input type="text" name="id" value="41d0f1c34873bb2eb1b1990403eb27c8">
  <input type="submit" value="파일 업로드하기">
</form>


<h1>test3333</h1>
<form action="/file/uploadtest4" method="post" enctype="multipart/form-data">
  <input type="file" name="test" multiple="multiple">
  <input type="text" name="id" value="41d0f1c34873bb2eb1b1990403eb27c8">
  <input type="submit" value="파일 업로드하기">
</form>

<!-- <img src="http://192.168.0.119:3000/file/profileshow?id=41d0f1c34873bb2eb1b1990403eb27c8"></img> -->


</body>
</html>