<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>

   
 <!-- 답변자 인증 사진-->
 <h2>버드텐더 신청// 사진  multiple</h2>
 <form action="/budtender/apply" method="post" enctype="multipart/form-data">
  <input type="file" name="certification" multiple="multiple">
  <br>
  
  postid
  <input type="text" name="postuuid" value="postuuid">
  <br>
  message
  <input type="text" name="message" value="messagedsafsdf">
  <br>
  code
  <input type="text" name="code" value="132-1234-1234">
  
  <input type="submit" value="파일 업로드하기">
</form>

<br><br>

<!-- 답변자 인증 사진-->
<h2>버드텐더 수정//사진multiple</h2>
<form action="/budtender/reapply" method="post" enctype="multipart/form-data">
 <input type="file" name="certification" multiple="multiple">
 <br>
 fiuuid
 <input type="text" name="fiuuid" value="3639bf6f-0b86-48ff-a8f7-232e9215005b">
 <input type="text" name="delfiuuid" value="1234,5678">
 <br>
 postid
 <input type="text" name="postuuid" value="tttt">
 <br>
 message
 <input type="text" name="message" value="test">
 <br>
 code
 <input type="text" name="code" value="888-888-8884">
 
 <input type="submit" value="파일 업로드하기">
</form>
<br><br>




</body>
</html>