<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>


  <h3>로그인</h3>
  <form action="/users/login" method="post">
    <table>
      <tr>
        <td>이메일 : </td>
        <td><input type="text" name="email"></td>
      </tr>
      <tr>
        <td>비번 : </td>
        <td><input type="password" name="pw"></td>
      </tr>
      <tr>
        <td><input type="submit" value="로그인"></td>
      </tr>
    </table>
  </form>


</body>
</html>
 -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>

    <% if(session.email){ %>
    <h3>회원가입 완료! ~</h3>

    <%= session.email %>

    <form action="/users/detail" method="post">
      <table>
          <tr>
              <td>nickname : </td>
              <td><input type="text" name="nickname" value="<%= member.mem_nickname %>"></td>
          </tr>
          <tr>
              <td>country : </td>
              <td><input type="text" name="country" value="<%= member.mem_country %>"></td>
          </tr>
          <tr>
                  <td>state : </td>
                  <td><input type="text" name="state" value="<%= member.mem_state %>"></td>
              </tr>
              <tr>
                      <td>birth : </td>
                      <td><input type="date" name="birth" value="<%= member.mem_birth %>"></td>
                  </tr>

          <tr>
              <td><input type="submit" value="추가 정보 입력"></td>
          </tr>
      </table>
  </form>



    <form action="/users/logout" method="get">
        <input type="submit" value="로그아웃">
    </form>

    <% } else{ %>
    <h3>로그인</h3>
    <form action="/users/login" method="post">
        <table>
            <tr>
                <td>이메일 : </td>
                <td><input type="text" name="email"></td>
            </tr>
            <tr>
                <td>비번 : </td>
                <td><input type="password" name="pw"></td>
            </tr>
            <tr>
                <td><input type="submit" value="로그인"></td>
            </tr>
        </table>
    </form>
    <% } %>

</body>

</html>