<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h3>회원 가입</h3>
  <form action="/users/sign_up" method="post">
    <table>
      <!-- <tr>
        <td>이름 : </td>
        <td><input type="text" name="userName"></td>
      </tr> -->
      <tr>
        <td>이메일 : </td>
        <td><input type="text" name="email"></td>
      </tr>
      <tr>
        <td>비번 : </td>
        <td><input type="password" name="pw"></td>
      </tr>
      <tr>
        <td><input type="submit" value="회원가입"></td>
      </tr>
    </table>
  </form>
</body>
</html>